@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
  padding-top: 56px;
  background-color: #83def3;
}
.row {
  margin-top: 5em;
}
#logo {
  border-top: 0px;
  padding-top: 0px;
  height: 125%;
}
.logo {
  height: 2.5em;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 150%;
  align-items: center;
  align-content: center; 
}
.textBig {
  font-size: 150%;
}
.text {
  display: block;
  margin-left: 0;
  margin-right: auto;
  text-align: center;
  width: 10em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.card {
  background-color: rgb(251, 252, 252);
}
.social ul {
  position: relative;
  padding-left: 0px;
  display: flex;
  z-index: 2;
  list-style: none;
}
.social ul li {
  position: relative;
  margin: 10px;
}
.social ul li a {
  position: relative;
  width: 1.8em;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0e0d0d; 
  font-size: 2em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  transition: 0.4s;
  overflow: hidden;
}
.social ul li a:hover {
  transform: translateY(-10px);
}
.social ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(197, 197, 197, 0.5);
  transform: skewX(45deg) translateX(150px);
  transition: 0.6s;
}
.social ul li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}
.contact {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
  padding: 30px;
}
.contact .title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 50px;
  padding-bottom: 10px;
  color: #2d2c33;
  background: linear-gradient(to right, #524141 0%, #e2f105 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  background-color: #83def3;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #b9c50e;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + label {
  transform: translateY(-15px);
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  line-height: 26px;
  font-weight: 500;
  color: #b9c50e;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-image: linear-gradient(to right, #524141 0%, #e2f105 100%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
  align-content: center;
}
.bubbles img {
  width: 50px;
  animation: bubble 10s linear infinite;
}
.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: auto;
}
@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-300vh);
    opacity: 0;
  }
}
.bubbles img:nth-child(1) {
  animation-delay: 2s;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 4s;
}
